trigger:
  branches:
    include:
      - main

pool:
  name: agentavi

variables:
  workDir: '$(System.DefaultWorkingDirectory)/environment/dev'

stages:
# ---------------- INIT + PLAN ----------------
- stage: INITSTAGE
  displayName: Terraform Init & Plan
  jobs:
  - job: INITJOB
    displayName: Terraform Init Job
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.6.6'

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(workDir)'
        backendServiceArm: 'infraservice'
        backendAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'
        backendAzureRmResourceGroupName: 'myResourceGroup'
        backendAzureRmStorageAccountName: 'avistorage888'
        backendAzureRmContainerName: 'avicnt'
        backendAzureRmKey: 'ram.terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(workDir)'

    - task: TerraformTask@5
      displayName: Terraform FMT
      inputs:
        provider: 'azurerm'
        command: 'custom'
        customCommand: 'fmt'
        outputTo: 'console'
        workingDirectory: '$(workDir)'
        environmentServiceNameAzureRM: 'infraservice'
        environmentAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(workDir)'
        environmentServiceNameAzureRM: 'infraservice'
        environmentAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'

# ---------------- APPLY ----------------
- stage: InfraDeploymentStage
  displayName: Terraform Apply
  dependsOn: INITSTAGE
  jobs:
  - job: InfraDeploymentJob
    steps:
    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(workDir)'
        commandOptions: '--auto-approve'
        environmentServiceNameAzureRM: 'infraservice'
        environmentAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'
