trigger:
  branches:
    include:
      - main

pool:
  name: agentavi

variables:
  terraformVersion: 'latest'

  # Azure details
  azureServiceConnection: 'infraservice'
  subscriptionId: 'b6571c78-f766-4999-8358-e9602abe50cf'

  # Terraform paths
  tfWorkingDir: '$(System.DefaultWorkingDirectory)/environment/dev'

  # Backend configuration
  backendRG: 'myResourceGroup'
  backendStorage: 'avistorage888'
  backendContainer: 'avicnt'
  backendKey: 'ram.terraform.tfstate'

stages:
# ---------------- INIT + PLAN ----------------
- stage: INITSTAGE
  displayName: Terraform Init & Plan
  jobs:
  - job: INITJOB
    displayName: Terraform Init Job
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.6.6'

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        backendServiceArm: 'infraservice'
        backendAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'
        backendAzureRmResourceGroupName: 'myResourceGroup'
        backendAzureRmStorageAccountName: 'avistorage888'
        backendAzureRmContainerName: 'avicnt'
        backendAzureRmKey: 'ram.terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'

    - task: TerraformTask@5
      displayName: Terraform FMT
      inputs:
        provider: 'azurerm'
        command: 'custom'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: 'infraservice'
        environmentAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$($(System.DefaultWorkingDirectory)/environment/dev)'
        environmentServiceNameAzureRM: 'infraservice'
        environmentAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'

# ---------------- MANUAL APPROVAL ----------------
- stage: ValidationStage
  displayName: Manual Approval
  dependsOn: INITSTAGE
  jobs:
  - job: validationJob
    pool: server
    steps:
    - task: ManualValidation@0
      inputs:
        instructions: "Please approve Terraform Apply"
        onTimeout: reject
        timeoutInMinutes: 60

# ---------------- APPLY ----------------
- stage: InfraDeploymentStage
  displayName: Terraform Apply
  dependsOn: ValidationStage
  jobs:
  - job: InfraDeploymentJob
    steps:
    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$($(System.DefaultWorkingDirectory)/environment/dev)'
        commandOptions: '--auto-approve'
        environmentServiceNameAzureRM: 'infraservice'
        environmentAzureRmOverrideSubscriptionID: 'b6571c78-f766-4999-8358-e9602abe50cf'
