trigger:
 branches:
   include:
     - main
     - feature/*

pool: agentavi

variables:
  workDir: $(Default.SystemWorkingDirectory)/dev

stages:
  - stage: securityscan
    displayName: security scan
    jobs:
      - job: lint
        displayName: Lint
        steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'tflint --init'

        
