trigger:
  branches:
    include:
      - main

pool:
  name: agentavi

variables:
  azureServiceConnection: infraservice
  subscriptionId: b6571c78-f766-4999-8358-e9602abe50cf

  tfWorkingDir: $(System.DefaultWorkingDirectory)/environment/dev

  backendRG: myResourceGroup
  backendStorage: avistorage888
  backendContainer: avicnt
  backendKey: ram.terraform.tfstate

stages:

# ================= INIT + PLAN =================
- stage: Terraform_Init_Plan
  displayName: Terraform_Init_and_Plan
  jobs:
  - job: InitJob
    displayName: InitJob
    steps:

    - script: terraform version
      displayName: Check_Terraform

    - task: TerraformTask@5
      displayName: Terraform_Init
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(tfWorkingDir)
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmOverrideSubscriptionID: $(subscriptionId)
        backendAzureRmResourceGroupName: $(backendRG)
        backendAzureRmStorageAccountName: $(backendStorage)
        backendAzureRmContainerName: $(backendContainer)
        backendAzureRmKey: $(backendKey)

    - task: TerraformTask@5
      displayName: Terraform_Validate
      inputs:
        provider: azurerm
        command: validate
        workingDirectory: $(tfWorkingDir)

    - task: TerraformTask@5
      displayName: Terraform_Plan
      inputs:
        provider: azurerm
        command: plan
        workingDirectory: $(tfWorkingDir)
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)

# ================= MANUAL APPROVAL =================
- stage: Manual_Approval
  displayName: Manual_Approval
  dependsOn: Terraform_Init_Plan
  jobs:
  - job: ApprovalJob
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: |
          abhi@company.com
        instructions: Please approve Terraform Apply

# ================= APPLY =================
- stage: Terraform_Apply
  displayName: Terraform_Apply
  dependsOn: Manual_Approval
  jobs:
  - job: ApplyJob
    displayName: ApplyJob
    steps:
    - task: TerraformTask@5
      displayName: Terraform_Apply
      inputs:
        provider: azurerm
        command: apply
        commandOptions: -auto-approve
        workingDirectory: $(tfWorkingDir)
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)
