trigger:
  branches:
    include:
      - main

pool:
  name: agentavi

variables:
  terraformVersion: 'latest'

  # Azure details
  azureServiceConnection: 'infraservice'
  subscriptionId: 'b6571c78-f766-4999-8358-e9602abe50cf'

  # Terraform paths
  tfWorkingDir: '$(System.DefaultWorkingDirectory)/environment/dev'

  # Backend configuration
  backendRG: 'myResourceGroup'
  backendStorage: 'avistorage888'
  backendContainer: 'avicnt'
  backendKey: 'ram.terraform.tfstate'

stages:
# ---------------- INIT + PLAN ----------------
- stage: INITSTAGE
  displayName: Terraform Init & Plan
  jobs:
  - job: INITJOB
    displayName: Terraform Init Job
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(terraformVersion)

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: azurerm
        command: init
        workingDirectory: '$(tfWorkingDir)'
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmOverrideSubscriptionID: $(subscriptionId)
        backendAzureRmResourceGroupName: $(backendRG)
        backendAzureRmStorageAccountName: $(backendStorage)
        backendAzureRmContainerName: $(backendContainer)
        backendAzureRmKey: $(backendKey)

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: azurerm
        command: validate
        workingDirectory: '$(tfWorkingDir)'

    - task: TerraformTask@5
      displayName: Terraform FMT
      inputs:
        provider: azurerm
        command: custom
        customCommand: fmt
        outputTo: console
        workingDirectory: '$(tfWorkingDir)'
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: azurerm
        command: plan
        workingDirectory: '$(tfWorkingDir)'
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)

# ---------------- MANUAL APPROVAL ----------------
- stage: ValidationStage
  displayName: Manual Approval
  dependsOn: INITSTAGE
  jobs:
  - job: validationJob
    pool: server
    steps:
    - task: ManualValidation@0
      inputs:
        instructions: "Please approve Terraform Apply"
        onTimeout: reject
        timeoutInMinutes: 60

# ---------------- APPLY ----------------
- stage: InfraDeploymentStage
  displayName: Terraform Apply
  dependsOn: ValidationStage
  jobs:
  - job: InfraDeploymentJob
    steps:
    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: azurerm
        command: apply
        commandOptions: '--auto-approve'
        workingDirectory: '$(tfWorkingDir)'
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)
