trigger: none

pool: infrastructure
stages:
  - stage: buildstage
    jobs:
      - job: terraforminstall
        displayName: terraform install
        steps:
         - task: TerraformInstaller@1
           displayName: terraform install
           inputs:
              terraformVersion: 'latest'

         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'init'
             workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
             backendServiceArm: 'monolithic'
             backendAzureRmStorageAccountName: 'avistorage888'
             backendAzureRmContainerName: 'avicnt'
             backendAzureRmKey: 'terraform.tfstatefiles'

         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'plan'
             workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
             environmentServiceNameAzureRM: 'monolithic'

        

