trigger:
 branches:
   include:
     - main
     - feature/*

pool: agentavi

variables:
  workDir: $(Default.SystemWorkingDirectory)/dev

stages:
  - stage: securityscan
    displayName: security scan
    jobs:
      - job: lint
        displayName: Lint
        steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'tflint --init'

          - task: tfsec@1
            displayName: tfsec
            continueOnError: true
            inputs:
              version: 'v1.26.0'
              dir: '$(workDir)'
      
      - job: terrforminit
        displayName: Terraform init
        steps:
         - task: TerraformTask@5
           inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(WorkDir)'
              backendServiceArm: 'infraservice'
              backendAzureRmStorageAccountName: 'avistorage888'
              backendAzureRmContainerName: 'avicnt'
              backendAzureRmKey: 'terraform.tfstate'

