trigger:
  branches:
    include:
      - main

pool:
  name: agentavi

variables:
  azureServiceConnection: 'infraservice'
  subscriptionId: 'b6571c78-f766-4999-8358-e9602abe50cf'

  tfWorkingDir: '$(System.DefaultWorkingDirectory)/environment/dev'

  backendRG: 'myResourceGroup'
  backendStorage: 'avistorage888'
  backendContainer: 'avicnt'
  backendKey: 'ram.terraform.tfstate'

stages:
- stage: INITSTAGE
  displayName: Terraform_Init_Plan
  jobs:
  - job: INITJOB
    steps:
    - script: terraform version
      displayName: Check_Terraform

    - task: TerraformTask@5
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(tfWorkingDir)
        backendServiceArm: $(azureServiceConnection)
        backendAzureRmOverrideSubscriptionID: $(subscriptionId)
        backendAzureRmResourceGroupName: $(backendRG)
        backendAzureRmStorageAccountName: $(backendStorage)
        backendAzureRmContainerName: $(backendContainer)
        backendAzureRmKey: $(backendKey)

    - task: TerraformTask@5
      inputs:
        provider: azurerm
        command: validate
        workingDirectory: $(tfWorkingDir)

    - task: TerraformTask@5
      inputs:
        provider: azurerm
        command: custom
        customCommand: fmt
        outputTo: console
        workingDirectory: $(tfWorkingDir)

    - task: TerraformTask@5
      inputs:
        provider: azurerm
        command: plan
        workingDirectory: $(tfWorkingDir)
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)

- stage: ValidationStage
  displayName: Manual_Approval
  dependsOn: INITSTAGE
  jobs:
  - job: validationJob
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: |
          abhi@company.com
        instructions: Please approve Terraform deployment

- stage: InfraDeploymentStage
  displayName: Terraform_Apply
  dependsOn: ValidationStage
  jobs:
  - job: ApplyJob
    steps:
    - task: TerraformTask@5
      inputs:
        provider: azurerm
        command: apply
        commandOptions: -auto-approve
        workingDirectory: $(tfWorkingDir)
        environmentServiceNameAzureRM: $(azureServiceConnection)
        environmentAzureRmOverrideSubscriptionID: $(subscriptionId)
